/* ------------------------------------ 
NAVIGATION AND HEADING RESIZE
----------------------------------- */

@media(max-width: 420px) {
    .logo,
    h1,
    ul {
        flex-direction: column;
        justify-content: flex-start;
    }
    .heading h1,
    .heading button {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: -4rem;
    }
    h1 {
        width: 80%;
    }
    nav a {
        display: none;
    }
}

@media(max-width: 900px) {
    .flexcontainer {
        flex-direction: column;
    }
    .logo {
        justify-content: center;
    }
    ul {
        justify-content: center;
    }
}


/* ------------------------------------ 
BLOG
----------------------------------- */

@media(max-width: 900px) {
    #blog .wrapper,
    #blog .wrapper h3 {
        width: 100%;
    }
    .fa-chevron-right,
    .fa-chevron-left {
        opacity: 0;
    }
    .chevrons {
        padding: 0 0 2rem;
    }
    #blog .chevrons:before {
        font-family: FontAwesome;
        content: "\f053";
        font-weight: 800;
        letter-spacing: 5rem;
        margin-top: 1rem;
    }
    #blog .chevrons:after {
        font-family: FontAwesome;
        content: "\f054";
        font-weight: 800;
        margin-top: 1rem;
    }
    h3 {
        width: 100%;
    }
}

@media(min-width: 2000px) {
    #blog .wrapper h3,
    p {
        line-height: 5rem;
        width: 30vw;
        margin: 0 auto;
        margin-top: 5rem;
    }
}


/* ------------------------------------ 
ADVENTURES
----------------------------------- */

@media (max-width: 900px) {
    .image-container {
        width: 65vw;
        height: 65vw;
    }
    .img-heading {
        bottom: 0rem;
        left: 20%;
        right: 20%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    #adventures ul {
        flex-wrap: nowrap;
    }
}


/* ------------------------------------ 
SHOPPING
----------------------------------- */

@media (max-width: 980px) {
    #shop .wrapper,
    .shop-info {
        width: 100%;
    }
    #shop img {
        width: 80%;
    }
}


/* ------------------------------------ 
CONTACT
----------------------------------- */

@media(min-width: 2000px) {
    header {
        height: calc(34vh + 30rem);
    }
}

@media (max-width: 980px) {
    input {
        width: 100%;
    }
}